INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/wmfsm.debhelper.log
debian/wmfsm.postinst.debhelper
debian/wmfsm.postrm.debhelper
debian/wmfsm.substvars
debian/wmfsm/
depcomp
install-sh
missing
stamp-h1
wmfsm/Makefile
wmfsm/Makefile.in
wmfsm/wmfsm
wmfsm/wmfsm.o
wmfsm/wmfsm_master.xpm
wmgeneral/Makefile
wmgeneral/Makefile.in
wmgeneral/libwmgeneral.a
wmgeneral/wmgeneral.o
*~
