Source: wmfsm
Section: utils
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.8.2
Build-Depends: debhelper (>= 7), libx11-dev, libxext-dev, libxpm-dev, x11proto-core-dev, autotools-dev

Package: wmfsm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WindowMaker dock app for monitoring filesystem usage
 Nice graphical 'df', showing you to what degree the mounted
 filesystems are used.
 .
 Another X11 dockable application designed for WindowMaker.
 It works with other window managers as well.
